# SPDX-License-Identifier: Apache-2.0

[Unit]
Description=Example Early Service inside the Initial Ramdisk (initrd)
DefaultDependencies=no
Before=sysinit.target
IgnoreOnIsolate=yes

[Service]
# Note: Any non-root processes started in the initrd are terminated by systemd,
# even if argv[0][0] is set to '@'. Start the processes as root, and fix up
# the socket permissions so the early-service process started from the root
# filesystem as a non-privileged user can access it. For more details, look at
# the function ignore_proc() inside the systemd source code at
# src/shared/killall.c for more details:
# https://github.com/systemd/systemd/blob/main/src/shared/killall.c#L96
# systemd v255 and higher has the option SurviveFinalKillSignal=yes that can be
# used instead, however that's not available in CS9.
User=root
Group=root

Type=exec
ExecStart=/usr/bin/early-service --server_socket_path ${RUNTIME_DIRECTORY}/early-service.sock --survive_systemd_kill_signal
ExecStartPost=/usr/bin/chown -R early-service:early-service ${RUNTIME_DIRECTORY}
SyslogIdentifier=early-service-initrd

UMask=0007
RuntimeDirectory=early-service
RuntimeDirectoryMode=0750
RuntimeDirectoryPreserve=yes
# Note there is no StateDirectory when running in the initrd

[Install]
WantedBy=sysinit.target
